<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Spring Security Example</title>
</head>
<body>
<div class="container-xx">
    <div class="container-fluid ">
        <nav class="navbar navbar-light bg-dark"
             th:each="user : ${getUser}" th:object="${user}">
        <span class="navbar-brand mb-0 h1" style="color:white"
              th:text="${user.getName()}">

            Navbar</span>
            <span class="navbar-brand mb-0 h1" style="color:white"
                  th:text="'With roles: '+${user.getRoles}">
        </span>
            <a href="/logout">
                <button type="button" class="btn btn-primary mr float-right" style="margin-left: 800px">Выйти</button>
            </a>
        </nav>
    </div>

    <div class="containers f">

        <div class="nav-left" th:fragment="nav-left">
            <nav class="nav flex-column">
                <a class="nav-link active-user" href="/user">User</a>
            </nav>
        </div>


        <div class="user-info">
            <h4 class="title mt-3">User info page</h4>
            <nav class="navbar bg-dark sub-title mt-5 ">
                <div class="container-fluid ">
                    <h6>About user</h6>
                </div>
            </nav>
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>ID</th>

                    <th>Email</th>

                    <th>SurName</th>

                    <th>Age</th>


                    <th>Roles</th>
                </tr>


                </thead>
                <tbody>
                <tr th:each="user: ${getUser}">
                    <td th:text="${user.id}">id</td>
                    <td th:text="user.username">name</td>
                    <td th:text="${user.surname}">surname</td>
                    <td th:text="${user.age}">age</td>
                    <td th:text="${user.getRoles()}"></td>

                </tr>
                </tbody>


            </table>
        </div>

    </div>
</div>
</body>
</html>
